/* Fonts                                                                      */
@font-face {
    font-family: 'Eczar';
    src: url('SiteRscs/Eczar.ttf') format('TrueType');
}

/* Page base                                                                  */

body {
    position: relative;
    background-color:#000000;
}
.title-row {
   margin-top: 0;
  display: flex;
  align-items: flex-start;
}

.title-row__logo img {  
  max-width: 100%;
  width: 9.375rem;
  height: auto;
  margin-left: 0;
}

.title-row__heading h1 {
  
  color: #a2000c;
  margin-left: 1.875rem;
  font-family: 'Eczar', serif;
  font-size: 2.875rem;
  text-decoration: underline;
  margin-top: -.5rem;
}

.main-content {
  color: white;
  position: relative;
}

.main-content__angel {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.main-content__angel img {
  display: block;
  width: 100%;
  max-width: 450px;
  height: auto;
}

/* NAVIGATION */


.navigation {
  margin-left: 7.5rem;
  margin-top: -6rem;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 1rem;

}

.navigation li{
  gap: 5rem;
  float: left;
}

.navigation a{

color: #a2000c;
font-size: 1.25rem;
font-family: 'Eczar', serif;
flex-direction: row;
}
.navigation ul li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  list-style: none;

}

/* HOME /INDEX */

.main-content__verse {
  margin-top: -3.75rem;
  margin-left: 11.25rem;
  margin-right: 11.875rem;
  font-family: 'Eczar', serif;
  font-size: 1.25rem;
  font-style: italic;
  inline-size: 27rem;
  
}

.main-content__book {
color: #a2000c;
font-size: 1.25rem;
margin-left: 28.25rem;
margin-top: -3.15rem;
font-style: italic;
}


/* WRITINGS */
.main-content__tagline {
  margin-top: -3.75rem;
  margin-bottom: 1rem;
  margin-left: 11.25rem;
  margin-right: 11.875rem;
  font-family: 'Eczar', serif;
  font-size: 1.25rem;

}

.site-links {
  margin-left: 11.25rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}
.site-links a {
  color: #a2000c;
  font-family: 'Eczar', serif;
  font-size: 1.25rem;
}

/* mobile variant */

@media (max-width: 600px) {
   .title-row__logo {
    max-width: 3.5rem;
  }

  .main-content__angel {
    position: absolute; 
    top: 0;
    left:0;
    z-index: 1;
    margin-left: 20rem;

  }

  .main-content__angel img {
  display: block;
  max-width:100px;
  height: auto;

  }

  .title-row__heading {
    font-size: 2rem;
    margin-right: 1rem;
    margin-left: -1.75rem;
    margin-top:.75rem;
  }
  .title-row__heading h1 {
    font-size: 1.5rem;
    margin-right: 1rem;
    
  }
  .main-content__tagline,
  .site-links {
font-size: 1.5rem;

}
.main-content__verse {
  margin-top: -3.75rem;
  margin-left: 1rem;
  margin-right: 1.5rem;
  font-family: 'Eczar', serif;
  font-size: 1.05rem;
  font-style: italic;
  inline-size: 15rem;
  
}
.main-content__book {
  color: #a2000c;
  margin-top: -40px;
  margin-left: 9.25rem;
  margin-right: 1.5rem;
  font-family: 'Eczar', serif;
  font-size: 1.05rem;
  font-style: italic;


}
.navigation {
  margin-left: -2rem;
  margin-top: -1rem;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 1rem;


}

.navigation li{
  gap: .5rem;
  float: left;
  list-style: none;

}

.navigation a{

color: #a2000c;
font-size: 1.25rem;
font-family: 'Eczar', serif;
flex-direction: row;

}
.navigation ul li a {


  display: block;
  text-align: center;
  padding: 2px 1.6px;
}

}

  


